*{
    font-family: "Montserrat", sans-serif !important;
}

.form-box {
    /* min-width: 900px; */
    margin: auto;
    /* padding: 50px; */
    background: transparent;
  }
  
  input, textarea {
    width: 100%;
  }