* {
  font-family: "Montserrat", sans-serif !important;
}

.form-box {
  margin: auto;
}

input,
textarea {
  width: 100%;
}

.about-info__pic {
  /* height: 800px; */
  width:92%;
  margin:0 auto;
  object-fit: contain;
  /* object-position: center; */
}
